<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'main:product_detail' product.pk %}">{{ product.name }}</a>
                {% if user.is_authenticated %}
                    {% if user == product.owner or user.has_perm('your_app.delete_product') %}
                        <a href="{% url 'main:product_update' product.pk %}">Edit</a>
                        <a href="{% url 'main:product_delete' product.pk %}">Delete</a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'main:product_create' %}">Create New Product</a>
</body>
</html>
